@model IEnumerable<WebApplication2.Context.product>
@{
    ViewBag.Title = "Index";
}

<section>
    <p class="title">Sale</p>
    <div class="sp">
        <img src="~/Content/hinhanh/151496086_272375534304514_7432837224729464100_n.jpg" width="250" height="250" />
        <p>Giá : <del>600.000đ</del></p>
        <p> 500.000đ</p>
    </div>
    <div class="sp">
        <img src="~/Content/hinhanh/172127881_458645828739229_6357546691748370164_n.jpg" width="180px" height="230" />
        <p>Giá : <del>350.000đ</del></p>
        <p>325.000đ</p>
    </div>
    <div class="sp">
        <img src="~/Content/hinhanh/169935581_2895268304076188_675522760799642863_n.jpg" width="250" height="250" />
        <p>Giá : <del>350.000đ</del></p>
        <p>325.000đ</p>
    </div>
    <div class="sp">
        <img src="~/Content/hinhanh/170521712_751363765555658_2357663031856932370_n.jpg" width="250" height="250" />
        <p>Giá : <del>350.000đ</del></p>
        <p>325.000đ</p>
    </div>
    <div class="sp">
        <img src="~/Content/hinhanh/172127888_1140891983096533_4590179672368993623_n.jpg" width="250" height="250" />
        <p>Giá : <del>350.000đ</del></p>
        <p>325.000đ</p>
    </div>
    <div class="sp">
        <img src="~/Content/hinhanh/169971492_4307250062671589_5048631970469622902_n.jpg" width="250" height="250" />
        <p>Giá : <del>400.000đ</del></p>
        <p>350.000đ</p>
    </div>
    <div class="sp">
        <img src="~/Content/hinhanh/158698385_269088478117951_8231898501364680951_n.jpg" width="250" height="250" />
        <p>Giá : <del>2.250.000đ</del></p>
        <p> 2.000.000đ</p>
    </div>
    <div class="sp">
        <img src="~/Content/hinhanh/135189382_4142833109063473_2581204940681997382_n.jpg" width="250" height="250" />
        <p>Giá : <del>1.250.000đ</del></p>
        <p> 1.500.000đ</p>
    </div>
    <div class="sp">
        <img src="~/Content/hinhanh/171060524_790985248468047_4054164641443256151_n.jpg" width="250" height="250" />
        <p>Giá : <del>350.000đ</del></p>
        <p>320.000đ</p>
    </div>
</section>

