@model IEnumerable<WebApplication2.Context.product>

@{
    ViewBag.Title = "Home Page";
}
<section>
    <p class="title">Trang Chủ</p>
    @foreach (var item in Model)
    {
        <div class="sp">
            <a href="@Url.Action("Detail","product",new { id = item.id })">
                <img src="~/Content/hinhanh/@item.image_link" width="250" height="250" />
                <p>@item.name</p>
                <p>Giá :@item.price</p>

            </a>
        </div>
    }

    <div class="xoa">
        <div class="nextpage">
            <a href="index.html"><< 1 </a>
            <a href="Trang 2.html"> 2 >></a>
        </div>
    </div>
</section>

