
@{
    ViewBag.Title = "Index";
}



<section>
    <p class="title">Điều khoản</p>
    <h3>Điều Khoản bán hàng</h3>
    <p><font size="+2"> 1. Khi bạn truy cập vào website L.I.H có nghĩa là bạn đồng ý với các điều khoản này. Trang web có quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Quy định và Điều kiện sử dụng, vào bất cứ lúc nào. Các thay đổi có hiệu lực ngay khi được đăng trên trang web mà không cần thông báo trước. Và khi bạn tiếp tục sử dụng trang web, sau khi các thay đổi về Quy định và Điều kiện được đăng tải, có nghĩa là bạn chấp nhận với những thay đổi đó.</font></p>
    <p><font size="+2">2. Trang web này chỉ dùng để cung cấp thông tin sản phẩm chứ chúng tôi không phải nhà sản xuất. Vì vậy những đánh giá, nhận xét về sản phẩm hiển thị trên website là ý kiến cá nhân của khách hàng, không phải của chúng tôi.</font></p>
</section>



